{% extends "base.html" %}

{% block content %}

<h2>Теорія: пріоритети операторів C++</h2>

<p>Тут наведено всі оператори, згруповані за рівнями пріоритету (1 — найвищий).</p>

{% for priority, ops in table.items() %}

    <div class="card" style="margin-top: 20px;">

        <h3>Пріоритет {{ priority }}</h3>

        <div class="table-container">   <!-- Адаптивний контейнер -->
            <table>
                <tr>
                    <th>Оператор</th>
                    <th>Опис</th>
                    <th>Приклад</th>
                </tr>

                {% for op, desc, ex in ops %}
                <tr>
                    <td>{{ op }}</td>
                    <td>{{ desc }}</td>
                    <td><i>{{ ex }}</i></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endfor %}

<br>
<a href="/" class="btn">На головну</a>

{% endblock %}

